# --- SHARED/CLERK ---
VITE_CLERK_PUBLISHABLE_KEY=pk_test_c21vb3RoLWxvYnN0ZXItMjcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_nkf4F9mYNI1UoWN35vhDVHehU4Kaba0eNHPb8PJiGp
VITE_CLERK_FRONTEND_API=https://smooth-lobster-27.clerk.accounts.dev
CLERK_API_URL=https://api.clerk.com
CLERK_JWKS_URL=https://smooth-lobster-27.clerk.accounts.dev/.well-known/jwks.json

# PEM-formatted Public Key (single line, escaped newlines)
CLERK_JWKS_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxy7X+c3xQtF9diops6x4\nodRpCFI/c8+v000UJNpGwJdm3l06WQSqDxBaJEKR+UkEqhPATFOv87yiQqbNB1hR\nZvNPoT/8iwMipRd8cJk/DI2r86eZwSccUnBX1/6Xt8qEqr6zn5ROucRc2JUvwEMQ\nezSfBQMb0ZF9sF8hcakWfpZhIG5QlaijcB/B5svWps/g43ztYm6/waZ6k5slXqPM\nRwY3E66rc4ahZrNkpMdiRaLhzHV4B1t7CCfDLbVZb2Asa3RzAKAEDwW3C8EtnQps\niOW20qpW0/9I60fMksbgkFYTCyHy9oMh/K5bQfB7N8MJZrLFIVewjFCHQduYACUa\nPwIDAQAB\n-----END PUBLIC KEY-----"

# --- BACKEND SPECIFIC ---
PORT=8000

# --- SUPABASE ---
USE_SUPABASE=true
SUPABASE_URL=https://opgddwdrijiuwvdccvyr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wZ2Rkd2RyaWppdXd2ZGNjdnlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NDkwNDUsImV4cCI6MjA4ODEyNTA0NX0.rp4U95uKwl4ffyXzcGatQP1XTloyo_MSFJslSC8vx9Y
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wZ2Rkd2RyaWppdXd2ZGNjdnlyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjU0OTA0NSwiZXhwIjoyMDg4MTI1MDQ1fQ.nEFPlMaMwfIDPzscEuujAkYL5LGJgc7uY7vOL92v-gk

# --- GEMINI AI ---
GEMINI_API_KEY=AIzaSyBFo2gRBrXReP-5EFG4ZdgoSSweRt9Ev3I

AUTH_STRATEGY=mock